torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
soundfile
numpy==1.26.4
torch_audiomentations
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
datasets
wget
editdistance
flashlight-text

# for downloading models
gdown

# kenlm
https://github.com/kpu/kenlm/archive/master.zip

black
isort
pre-commit
